Package: gir1.2-mutter-11
Source: mutter
Version: 1:43.8-0+deb12u1+cix.2503.radxa
Architecture: arm64
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 525
Depends: libmutter-11-0 (= 1:43.8-0+deb12u1+cix.2503.radxa), gir1.2-atk-1.0, gir1.2-freedesktop (>= 0.9.12), gir1.2-gdesktopenums-3.0 (>= 40~alpha), gir1.2-glib-2.0 (>= 0.9.12), gir1.2-graphene-1.0 (>= 1.10.2), gir1.2-gtk-3.0 (>= 3.19.8), gir1.2-json-1.0 (>= 0.13.2-1~), gir1.2-pango-1.0 (>= 1.46.0)
Provides: gir1.2-mutter-11 (= 43.8-0+deb12u1)
Section: introspection
Priority: optional
Multi-Arch: same
Description: GObject introspection data for Mutter
 Mutter is a Wayland display server and X11 window manager and
 compositor library. It contains functionality related to, among other
 things, window management, window compositing, focus tracking, workspace
 management, keybindings and monitor configuration.
 .
 Internally it uses a fork of Cogl, a hardware acceleration abstraction
 library used to simplify usage of OpenGL pipelines, as well as a fork
 of Clutter, a scene graph and user interface toolkit.
 .
 This package contains the GObject introspection data which may be
 used to generate dynamic bindings.
